### import the PyODAM module

In [2]:
import PyODAM as po

### Using the API

In [3]:
# Get the subset list of a dataset
dataset = 'frim1'
meta = po.getDataFromODAM(dataset)
meta[['index', 'LinkID','Subset','Identifier', 'Description']]

,index,LinkID,Subset,Identifier,Description
0,1,0,plants,PlantID,Plant features
1,2,1,samples,SampleID,Sample features
2,3,2,aliquots,AliquotID,Aliquots features
3,4,3,cellwall_metabo,AliquotID,Cell wall Compound quantifications
4,5,3,cellwall_metaboFW,AliquotID,Cell Wall Compound quantifications (FW)
5,6,3,activome,AliquotID,Activome Features
6,7,2,pools,PoolID,Pools of remaining pools
7,8,7,qMS_metabo,PoolID,MS Compounds quantification
8,9,7,qNMR_metabo,PoolID,NMR Compounds quantification
9,10,3,plato_hexosesP,AliquotID,Hexoses Phosphate
10,11,3,lipids_AG,AliquotID,Lipids AG
11,12,3,AminoAcid,AliquotID,Amino Acids

In [4]:
# Get all values of a merged data subsets ( both activome & qNMR_metabofor) the specific 'sample' entry equal to 365
subset = 'activome,qNMR_metabo'
df = po.getSubsetFromODAM(dataset, subset,'sample/365?limit=10')
data = df['data']

# View all merged subset columns
data.columns

Index(['index', 'PlantID', 'Rank', 'PlantNum', 'Treatment', 'SampleID',
       'Truss', 'DevStage', 'FruitAge', 'HarvestDate', 'HarvestHour',
       'FruitPosition', 'FruitDiameter', 'FruitHeight', 'FruitFW', 'FruitDW',
       'DW', 'AliquotID', 'PGM', 'cFBPase', 'PyrK', 'CitS', 'PFP', 'Aconitase',
       'PFK', 'FruK', 'pFBPase', 'GluK', 'NAD_ISODH', 'Enolase', 'NADP_ISODH',
       'PEPC', 'Aldolase', 'Succ_CoA_ligase', 'NAD_MalDH', 'AlaAT', 'Fumarase',
       'AspAT', 'NADP_GluDH', 'NAD_GAPDH', 'NADP_GAPDH', 'NAD_GluDH', 'TPI',
       'PGK', 'Neutral_Inv', 'Acid_Inv', 'G6PDH', 'UGPase', 'SuSy', 'NAD_ME',
       'ShiDH', 'NADP_ME', 'PGI', 'StarchS', 'AGPase', 'SPS', 'PoolID',
       'glucose', 'saccharose', 'fructose', 'galactose', 'mannose', 'rhamnose',
       'acetate', 'chlorogenate', 'citrate', 'fumarate', 'galacturonate',
       'malate', 'quinate', 'alanine', 'asparagine', 'aspartate', 'GABA',
       'glutamine', 'glutamate', 'isoleucine', 'phenylalanine', 'tryptophane',
       'tyrosine', 'valine', 'pyroglutamate', 'trigonelline', 'choline',
       'inositol'],
      dtype='object')

In [5]:
# Convert both data and time in MS Excel format into String
data.HarvestDate = po.convertDateToStr(data.HarvestDate)
data.HarvestHour = po.convertTimeToStr(data.HarvestHour)
data

,index,PlantID,Rank,PlantNum,Treatment,SampleID,Truss,DevStage,FruitAge,HarvestDate,...,glutamate,isoleucine,phenylalanine,tryptophane,tyrosine,valine,pyroglutamate,trigonelline,choline,inositol
0,1,A17,A,17,Control,365,T6,FR.02,47DPA,09/02/2010,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711
1,2,A8,A,8,Control,365,T6,FR.02,47DPA,09/02/2010,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711
2,3,D3,D,210,Control,365,T6,FR.02,47DPA,09/02/2010,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711
3,4,E35,E,311,Control,365,T6,FR.02,47DPA,09/02/2010,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711
4,5,H11,H,356,Control,365,T6,FR.02,47DPA,09/02/2010,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711

In [6]:
# Display the variable list within the 'factor' category of a merged data subset
df['factor']

,index,Subset,Attribute,Description,Type,CV_Term_ID,CV_Term_Name
0,1,plants,Treatment,Treatment applied on plants,string,http://www.ebi.ac.uk/efo/EFO_0000469,environmental factor
1,2,samples,DevStage,fruit development stage,string,http://purl.obolibrary.org/obo/PO_0001002,fruit development stage
2,3,samples,FruitAge,fruit age (dpa),string,http://purl.obolibrary.org/obo/PO_0001002,fruit development stage

In [7]:
# Display the variable list within the 'identifier' category of a merged data subset
df['identifier']

,index,Subset,Attribute,Description,Type,CV_Term_ID,CV_Term_Name
0,1,plants,PlantID,Plant identifier,string,http://edamontology.org/data_0842,identifier
1,2,samples,SampleID,Pool of several harvests,numeric,http://edamontology.org/data_0842,identifier
2,3,aliquots,AliquotID,Aliquot Identifier,numeric,http://edamontology.org/data_0842,identifier
3,4,activome,AliquotID,Aliquot Identifier,numeric,http://edamontology.org/data_0842,identifier
4,5,pools,PoolID,Pool of several samples,string,http://edamontology.org/data_0842,identifier
5,6,qNMR_metabo,PoolID,Pool of several samples,string,http://edamontology.org/data_0842,identifier

In [8]:
# Display the variable list within the 'quantitative' category of a merged data subset
quantitative = df['quantitative']
quantitative.loc[ 0:10, ]

,index,Subset,Attribute,Description,Type,CV_Term_ID,CV_Term_Name
0,1,samples,FruitDiameter,Fruit diameter (mm),numeric,http://aims.fao.org/aos/agrovoc/c_16072,Diameter
1,2,samples,FruitHeight,Fruit height (mm),numeric,http://aims.fao.org/aos/agrovoc/c_3536,Height
2,3,samples,FruitFW,Fruit Fresh Weight(g),numeric,http://aims.fao.org/aos/agrovoc/c_8349,Weight
3,4,samples,FruitDW,Fruit Dry Weight(g),numeric,http://aims.fao.org/aos/agrovoc/c_8349,Weight
4,5,samples,DW,"Percentage of dry matter (% DW), measured afte...",numeric,,
5,6,activome,PGM,Phosphoglucomutase (nmol/gFW/min),numeric,http://purl.obolibrary.org/obo/GO_0004614,EC 5.4.2.2 Phosphoglucomutase
6,7,activome,cFBPase,"cytosolic Fru-1,6-bisphosphatase (nmol/gFW/min)",numeric,http://purl.obolibrary.org/obo/GO_0042132,EC 3.1.3.11 fructose-bisphosphatase
7,8,activome,PyrK,Pyruvate Kinase (nmol/gFW/min),numeric,http://purl.obolibrary.org/obo/GO_0004743,EC 2.7.1.40 pyruvate kinase
8,9,activome,CitS,Citrate Synthase Total (nmol/gFW/min),numeric,http://purl.obolibrary.org/obo/GO_0036440,EC 2.3.3.1 citrate synthase
9,10,activome,PFP,6-phosphofructokinase (nmol/gFW/min),numeric,http://purl.obolibrary.org/obo/GO_0047334,EC 2.7.1.90 6-phosphofructokinase
10,11,activome,Aconitase,Aconitase (nmol/gFW/min),numeric,http://purl.obolibrary.org/obo/GO_000394,EC 4.2.1.3 Aconitase

In [9]:
# Select the variables from the merged data belongings to the 'activome' data subset
data[quantitative[quantitative.Subset=='activome']['Attribute']]

,PGM,cFBPase,PyrK,CitS,PFP,Aconitase,PFK,FruK,pFBPase,GluK,...,G6PDH,UGPase,SuSy,NAD_ME,ShiDH,NADP_ME,PGI,StarchS,AGPase,SPS
0,NA,10.92,304.68,6.12,576.56,145.05,73.97,73.88,44.38,26.46,...,109.01,3233.62,NA,535.3,67.44,219.78,384.85,77.01,80.18,64.33
1,NA,10.92,304.68,6.12,576.56,145.05,73.97,73.88,44.38,26.46,...,109.01,3233.62,NA,535.3,67.44,219.78,384.85,77.01,80.18,64.33
2,NA,10.92,304.68,6.12,576.56,145.05,73.97,73.88,44.38,26.46,...,109.01,3233.62,NA,535.3,67.44,219.78,384.85,77.01,80.18,64.33
3,NA,10.92,304.68,6.12,576.56,145.05,73.97,73.88,44.38,26.46,...,109.01,3233.62,NA,535.3,67.44,219.78,384.85,77.01,80.18,64.33
4,NA,10.92,304.68,6.12,576.56,145.05,73.97,73.88,44.38,26.46,...,109.01,3233.62,NA,535.3,67.44,219.78,384.85,77.01,80.18,64.33

In [10]:
# Select the variables from the merged data belongings to the 'qNMR_metabo' data subset
data[quantitative[quantitative.Subset=='qNMR_metabo']['Attribute']]

,glucose,saccharose,fructose,galactose,mannose,rhamnose,acetate,chlorogenate,citrate,fumarate,...,glutamate,isoleucine,phenylalanine,tryptophane,tyrosine,valine,pyroglutamate,trigonelline,choline,inositol
0,756.688509,33.907515,975.485366,1.544911,4.150709,4.02276,4.296019,2.428279,182.777927,0.079999,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711
1,756.688509,33.907515,975.485366,1.544911,4.150709,4.02276,4.296019,2.428279,182.777927,0.079999,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711
2,756.688509,33.907515,975.485366,1.544911,4.150709,4.02276,4.296019,2.428279,182.777927,0.079999,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711
3,756.688509,33.907515,975.485366,1.544911,4.150709,4.02276,4.296019,2.428279,182.777927,0.079999,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711
4,756.688509,33.907515,975.485366,1.544911,4.150709,4.02276,4.296019,2.428279,182.777927,0.079999,...,45.478818,2.750447,5.153496,0.345287,1.624778,1.372135,24.046419,1.078428,5.936098,65.898711